
.status2 {
    float: right;
    margin-left: -3px;
    padding: 0;
  }
  
  .status {
    padding: 0px;
    text-align: center;
    display: inline;
    float: right;
    margin: 0;
    font-size: 36px;
    line-height: 0.65em;
    color: transparent;
  }
  
  .status.online {
    border: 0px solid var(--border-color);
    color: #41a700;
  }
  
  .status.offline {
    border: 0px solid var(--border-color);
    color: #f15c4f;
  }