p {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 25px;
 
}



blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

li {
  line-height: 32px;
  /* font-family: "Work Sans", sans-serif; */
 
  
}

nav li {
  cursor: pointer;
}

figure {
  border: 0px var(--border-color) solid;
  display: flex;
  flex-flow: column;
  padding: 0px;
  width: 100%;
  margin: auto;
}

figcaption {
  /* background-color: #222; */
  /* color: #fff; */
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
