#backg-video-light {
    display: none;
    z-index: -10;
}

#backg-video-dark {
    display: none;
    z-index: -10;
}

@media screen and (min-width: 1300px) and (prefers-color-scheme: light) {
    #backg-video-light {
        display: block;
    }
}

@media screen and (min-width: 1300px) and (prefers-color-scheme: dark) {
    #backg-video-dark {
        display: block;
    }
}



.backgVideo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
  }
  
