#web-page {
    /* This is required to make webpage show from below the header */
    margin: 60px 0 0 0;
    display: none;
    z-index: 1;
    padding:0;
   


    /* perspective: 1000px; */
}

#web-page.loaded {
    margin: 60px 0 0 0;

}


