/* @-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

 main {
  
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;

  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  animation-iteration-count:1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

}

@-webkit-keyframes animatebottom {
  0% {
    top:100vh;
    
  } 
  
  30% {
    top:-1vh;
  
  }

  40% {
    top:1vh;
  
  }

  50% {
    top:0vh;
  
  }

  100% {
    top:0vh;
  
  }
}

@keyframes animatebottom {
  0% {
    top: 100vh;
   
  }

  30% {
    top:-1vh;
  
  }

  40% {
    top:1vh;
  
  }

  50% {
    top:0vh;
  
  }

  100% {
    top:0vh;
  
  }
} 

.transition_duration_500ms {
  
  /* -webkit-animation-name: animate_aside;
  -webkit-animation-duration: 1s;
  animation-name: animatetopp;
  animation-duration: 1s;

  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  animation-iteration-count:1;
  animation-timing-function: ease;
  animation-fill-mode: forwards; */

  transition-duration: 500ms;
}

@-webkit-keyframes animate_aside {
  0% {
    opacity: 0;
    transition-duration: 500ms;
    
  } 
  
  100% {
    transition-duration: 500ms;
  
  }
}

@keyframes animate_aside {
  0% {
    opacity: 0;
    transition-duration: 500ms;
  }
  100% {
    transition-duration: 500ms;
    
  }
} 



/* #loading-box {
  position: fixed;
  width: 140px;
  margin-left: calc(50% - 70px);
  margin-top: 60px;
} */
/* 
*/

.microinteraction {
  -webkit-animation-name: microinteraction;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  animation-name: microinteraction;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes microinteraction {
  0% {
  }

  50% {
    -ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8); /* Safari 3-8 */
    transform: scale(0.8);
    z-index: 1;
  }

  100% {
  }
}

@keyframes microinteraction {
  0% {
  }

  50% {
    -ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8); /* Safari 3-8 */
    transform: scale(0.8);
    z-index: 1;
  }

  100% {
  }
}

/* @-webkit-keyframes click {
  from {
    scale: ;
    
    
  }

  to {
    border-image-slice: 2;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    
  }
}

@keyframes click {
  from {
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    
  }
  to {
    border-image-slice: 2;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    
  }
}  */

.focus_element {
  -webkit-animation-name: focus_element;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  animation-name: focus_element;
  animation-duration: 2s;
  animation-iteration-count:2;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes focus_element {
  0% {
  }

  20% {
    box-shadow: 0 4px 8px var(--shadow);
    background-color: var(--windowBackground);
  }

  50% {
    box-shadow: 0 0 0 var(--shadow);
    background-color: transparent;
  }

  80% {
    box-shadow: 0 4px 8px var(--shadow);
    background-color: var(--windowBackground);
  }

  100% {
  }
}

@keyframes focus_element {
  0% {
  }

  20% {
    box-shadow: 0 4px 8px var(--shadow);
    background-color: var(--windowBackground);
  }

  50% {
    box-shadow: 0 0 0 var(--shadow);
    background-color: transparent;
  }

  80% {
    box-shadow: 0 4px 8px var(--shadow);
    background-color: var(--windowBackground);
  }

  100% {
  }
}

.come_from_bottom {
  -webkit-animation-name: come_from_bottom;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  animation-name: come_from_bottom;
  animation-duration: 1s;
  animation-iteration-count:1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes come_from_bottom {
  0% {
    bottom: 0;
  }

  100% {
    bottom:1.2em;
  }
}

@keyframes come_from_bottom {
  0% {
    bottom: 0;
  }

  100% {
    bottom:1.2em;
  }
}


.go_up {
  -webkit-animation-name: go_up;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  animation-name: go_up;
  animation-duration: 1s;
  animation-iteration-count:1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes go_up {
  0% {
    
    top:0;
  }

  100% {
    top:-1.2em;

  }
}

@keyframes go_up {
  0% {
    
    top:0;
  }

  100% {
    top:-1.2em;

  }
}

.slide_from_above {
  -webkit-animation-name: slide_from_above;
  -webkit-animation-duration: 500ms;

  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  animation-name: slide_from_above;
  animation-duration: 500ms;
  animation-iteration-count:1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide_from_above {
  0% {
    
    top:-1000px;
  }

  100% {
    

  }
}

@keyframes slide_from_above {
  0% {
    
    top:-1000px;
  }

  100% {
    

  }
}


.close_slide_down {
  -webkit-animation-name: close_slide_down;
  -webkit-animation-duration: 500ms;

  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  animation-name: close_slide_down;
  animation-duration: 500ms;
  animation-iteration-count:1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes close_slide_down {
  0% {
    
    
  }

  100% {
   top:1000px;

  }
}

@keyframes close_slide_down {
  0% {
    
    
  }

  100% {
    top:1000px;

  }
}


@keyframes article_hover {
  0% {
    
    box-shadow: 5cm 5cm 8cm 2cm var(--font);
  }

  100% {
    

  }
}

