@media screen and (max-width: 15000px) {
  .page {
    margin: 0px;
    padding: 0px;
    float: left;
  }

  .pane {
    width: calc(100vw / 4);
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    display: block;
  }

  

 
}
