button {
  outline: none;
  cursor: pointer;
}

header button {
  float: right;
}

input[type="text"] {
  min-width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 20px;
}

input[type="text"]:focus {
  border: 3px solid #073763ff;
}

textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
