a:link {
  text-decoration: none;
  color: var(--a);
}
a:visited {
  text-decoration: none;
  color: var(--a);
}
a:hover {
  text-decoration: none;
  color: var(--a);
}
a:active {
  text-decoration: none;
  color: var(--a);
}

a[href^="mailto"]::before {
  content: "📧 ";
}

a[href^="tel"]::before {
  content: "📞 ";
}

a[href^="http"]::before {
  content: "🔗 ";
}

i {
  color: var(--a);
}

nav > span {
  margin: 8px 20px 8px 0px;
  float: right;
  text-align: center;
  padding: 5px 14px;
  cursor: pointer;
  text-decoration: none;
}
