/* tabs */
.elemtab {
    /* border-right: 1px solid grey; */
    margin: 0px 20px 0 0px;
    padding: 0;
    border-radius: var(--border-radius-capsule);
    cursor: pointer;
    display: inline-block;
    background-color: var(--windowBackground);
    font-size: 16px;

}

.elemtab_active {
    background-color: var(--ai);
    /* color: var(--base); */
    /* backdrop-filter: blur(13px); */
    /* border: 1px solid grey; */
}

/* .elemtab_add {
    border: 0px solid transparent;
  
    margin-left: -10px;
    margin-top: -10px;
  } */


.tabbar {

    /* background-color: green; */

    height: calc(68px);
    width: calc(100% - 0px - 200px);
    overflow-x: auto;
    overflow-y: visible;
    float: left;
    /* border: 0.5px dashed #77777715; */
}

.tabbar>div {
    width: fit-content;
    white-space: nowrap;
    height: 56px;
    margin: 2px;
    /* background-color: #f15c4f; */
}

.controlButtons {
    overflow: hidden;
    height: 70px;
    width: 170;
    overflow-x: auto;
    overflow-y: hidden;
    float: right;
    background-color: var(--articleBackground);
    border-radius: var(--border-radius);
    margin: 0px 0 0 0;
    padding: 18px 20px 0 0;

}

.controlButtons>span {
    background-color: rgba(119, 119, 119, 0.337);
    font-size: 30px;

    margin: 0 0 0 20px;
    border-radius: var(--border-radius);
    padding: 2px;
    float: right;
    cursor: pointer;
}




.tab_close {

    margin: 0px 0px 0px 5px;
    padding: 20px 10px 20px 10px;

    /* top: 0; */
    display: inline-block;
    display: none;
    /* border: 2px solid var(--font); */
    /* width: 0; */
    /* overflow: hidden; */
    background-color: var(--fonti);
    border-radius: 0px;
    transition-duration: 6s;
    transition-property: all;
    /* height: 20px; */
    /* width: 20px; */
    /* font-size: 10px; */
    /* font-weight: 700; */
}

.elemtab {
    padding: 18px 10px 18px 10px;
    overflow: hidden;

}




.over {
    outline: 2px solid #aaa;
    outline-offset: 0px;
}

.elemtab:hover {
    padding: 0px 0px 0px 10px;
}

.elemtab_add:hover {
    padding: 18px 10px 18px 10px;
}

.elemtab:hover>.tab_close {
    display: inline-block;
    /* transition-delay: 1s; */
    width: auto;
    animation-name: tabclose;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    /* overflow: hidden; */
}



.tabbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .tabbar::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 50vmin;
  
    border: 0px solid var(--background);
    /* box-shadow: 10px 40px 80px rgb(0, 0, 0); */
    /* border: 200px solid transparent; */
  
  }