details {
  padding: 0 0.5em;
  /* overflow-y: scroll; */
}

summary {
  /* font-weight: bold; */
  /* margin: -0.5em -0.5em 0; */
  padding: 0 0 0.5em 0;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
}

summary h1 {
  /* font-weight: bold; */
  /* margin: -0.5em -0.5em 0; */
  padding: 0 0 0.5em 0em;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  display: inline;
}

/* details[open] {
  padding: 0.5em;
} */

details[open] summary {
  border-bottom: 2px solid grey;
  /* margin-bottom: 0.5em; */
  cursor: pointer;
}

#alertUI {
  width: 100%;

  display: block;
  position: fixed;

  top: 100px;
  background-color: transparent;
  border: 0px solid grey;

  z-index:6;

  padding: 0px;
  
}
#alertUI > div > div > div {  padding: 0px 0px 0 0;
}


#JavaScriptNeeded {
  top: -50000vh;
  
}




dialog {
  width: 100%;

  display: block;
  position: fixed;

  top: 100px;
  background-color: transparent;
  border: 0px solid grey;

  z-index:6;

  padding: 1px;
}

dialog > div > div, #alertUI > div > div > div {
  width: 90%;
  justify-content: center;
  margin-left: 5%;
  border: 2px solid grey;
  border-radius: 7px;
  margin-bottom: 20px;

  padding: 10px 10px 0 10px;

  border-radius: 7px;
}

dialog > div, #alertUI > div > div {
  width: 66%;
  height: calc((100vh - 100px) * 0.8);
 

  justify-content: center;
  margin-left: 17%;
  border: 2px solid grey;
  border-radius: 7px;
  margin-bottom: 20px;

  padding-top: 10px;

  background-color: var(--windowBackground);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  box-shadow: 0 4px 8px rgb(0 0 0 / 14%);
  border-radius: 7px;

  overflow-y: auto;

}

dialog p, #alertUI p {
  text-align: center;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header,
  dialog > div > div,
  #alertUI > div > div {
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
   
  }
}


@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  header,
  dialog > div > div,
  #alertUI > div > div {
    background-color: var(--base80);
  }
}


#alertUI > div > div {
  margin-right: 8px;
  width: calc(60% - 8px);
}

dialog > div > div > h1, 
dialog > div > div > h2, 
dialog > div > div > h3 {
  margin-top: 20px;
}

dialog > div > div > h1
 {
  font-size: 40px;
}
dialog > div > div > h2
 {
  font-size: 25px;
}
dialog > div > div > h3
 {
  font-size: 20px;
}