#search_bar {
  height: 36px;
  /* height: 1000px; */
  margin: -11px 0 0 calc((100% - 850px)/2);

  float: inherit;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-right: 0px solid var(--border-color);
  padding: 5px;
  padding-left: 10px;
  width: 150px;
  transition: width 1s ease, margin 1s ease;


  /* box-shadow: 0 1px 2px var(--shadow); */

  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);

}

#search_bar:hover {
  border-left: 2px solid     var(--border-color-hover);
  border-top: 2px solid      var(--border-color-hover);
  border-bottom: 2px solid   var(--border-color-hover);
  border-right: 0px solid    var(--border-color-hover);
}
#search_bar:focus {
  /* outline: 2px solid var(--border-color-hover);*/
   outline: 0px solid var(--border-color-hover); 
/*
  outline-offset: 8px; */
  border-left: 2px solid     var(--border-color-hover);
  border-top: 2px solid      var(--border-color-hover);
  border-bottom: 2px solid   var(--border-color-hover);
  border-right: 0px solid    var(--border-color-hover);

  
}



#search_button_action {
  height: 36px;
  width: 100px;
  margin: -11px 0 0 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  border-left: 0px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}
#search_button_action:hover {
  

  border-left: 0px solid var(--border-color-hover);
  border-top: 2px solid var(--border-color-hover);
  border-bottom: 2px solid var(--border-color-hover);
  border-right: 2px solid var(--border-color-hover);
}

@media only screen and (max-width: 700px) {


  #search_bar {
    height: 36px;
    width: 150px;
    margin: -11px 0 0 calc((100% - 100px)/2);
  }
}