/* 
.switch {
  position: relative;
  margin-top: 50px;
  display: inline-block;
  width: 60px;
  height: 38px;
}

.dark-switch {
  position: relative;
  margin-top: 0px;
  margin-bottom: 15px;

  display: inline-block;
  width: 60px;
  height: 38px;
}

.dark-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {

  outline: none;
}

input:focus + .slider {
  
  outline: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
} */

/* 
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */

/* .active, aside {
  
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  

  animation: border 5s infinite;
  
} */


