body {
    margin: 0;
    padding: 0;
    /* if CSS Variables aren't supported */
    background-color: #f8f9fa;
    background-color: var(--background);
    /* if CSS Variables aren't supported */
    color: #34252f;
    color: var(--font);
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url('../images/pexels-eberhard-grossgasteiger-1421903.jpg');
        background-image: url('../images/pexels-pixabay-247676m.jpg');
    }
}

@media print {

    html,
    body {
        /* hide whole page while printing */
        display: none;
    }
}